body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    padding: 20px;
}

#settingsArticle {
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
    text-align: center;
    width: 48%; /* Ustawienie szerokości sekcji na 48% (50% z odstępem) */
    display: inline-block; /* Pozwala na układanie w rzędzie */
    vertical-align: top; /* Ustawia wierzchołek sekcji na górze, aby się równać */
}

h2 {
    color: #3498db;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

a, .back-button {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #3498db;
}

a:hover, .back-button:hover {
    text-decoration: underline;
}

#tablesArticle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

table {
    width: 48%; /* Ustawienie szerokości tabeli na 48% (50% z odstępem) */
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #3498db;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: #fff;
}
